
h1{
    font-size: 216px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}
*{
    margin:0;
    padding:0;
}
.button{
    width: 50;
    height: 50;
    font-size: 25;
    margin: 2;
    cursor: pointer;
	background: #42424271;
	border: none;
	color: white;
}
.textview{
    width: 217;
    margin: 5;
    font-size: 25;
    padding: 5;
    border: none;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.bg{
    background:linear-gradient(to right,rgba(255, 0, 0, 0.486),rgba(0, 0, 0, 0.514));

    height: 100%;

}
